
.chat-container{
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

/* 用户名头部 */
.chat-header{
    height: 60px;
    margin: 0 25;
    border-bottom:2px solid palevioletred;
    line-height: 60px;
    font-size: 30px;
    color: plum;
    padding-left: 85px;
}


/* 聊天主体 */
.chat-content{
    overflow-y: auto;
    height: calc(100vh - 330px);
    /* height: calc(100vh-94px-2px-40px-80px-60px-56px); */
    padding: 40px 110px 80px 110px;
}
/* 聊天框 */
.chat-content-container{
    width: 500px;
    min-height: 100px;
    margin-top: 20px;
}

/* 输入 */
.chat-input-container{
    width: 87%;
    height: 53px;
    text-align: center;
    margin: 0 auto 40px auto;
    position: relative;
}

.chat-input{
    height: 100%;
    width: calc(90%);
    padding: 0 60px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border-radius: 40px;
    border: 1px solid  cadetblue;
}
.chat-input-smile{
    position: absolute;
    left: 10px;
    top:0px;
}


/* 左侧用户信息 */
.chat-detail-left{
    float: left;
    font-size: 14px;
}
/* 头像 */
.chat-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.chat-name{
    width: 60px;
    color: #BDBDBD;
    text-align: center;
}
/* 时间 */
.chat-time{
    color: #BDBDBD;
    font-size: 10px;
}

/* 右侧 */
.chat-detail-right{
    float: right;
}

.chat-detail-right{
    float: right;
    text-align: left;
    width: 360px;
    min-height: 40px;
    /* 内容超过一行 */
    line-height: 40px;
    border-radius: 40px;
    padding: 0 40px;
    background-color: darkgray;
    /* 换行 */
    overflow: hidden;
    overflow-wrap: break-word;
}


