.chat-container{
    /* height: 100vh; */
    margin: 0 auto;
    position: relative;
}
/* 用户名头部 */
.chat-header{
    height: 94px;
    margin: 0 25px;
    padding-left: 85px;
    border-bottom: 2px solid palevioletred;;
    font-size: 24px;
    line-height: 94px;
}
/* 聊天主体 */
.chat-content{
    overflow-y: auto;
    height: calc(100vh - 330px);
    /* height: calc(100vh - 94px - 2px - 40px - 80px - 60px - 56px); */
    padding:40px 110px 80px 110px;
}


/* 聊天框 */
.chat-content-container{
    width: 520px;
    min-height: 125px;
    margin-top: 30px;
}
/* 左侧用户信息 */
.chat-detail-left{
    float:left;
}
/* 用户头像 */
.chat-avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
/* 用户名 */
.chat-name{
    width:60px;
    color:#BDBDBD;
    text-align: center;
}
/* 聊天时间 */
.chat-time{
    color:#BDBDBD;
}
/* 右侧聊天 */
.chat-detail-right{
    float: right;
    text-align: left;
    width:320px;
    min-height:60px;
    line-height: 60px;
    border-radius: 40px;
    padding:0 40px;
    background-color:rgb(206, 245, 212);

    /* 换行 */
    overflow:hidden;
    overflow-wrap: break-word; 
}
/* input */
/* 输入 */
.chat-input-container{
    width: 87%;
    height: 60px;
    text-align: center;
    margin: 0 auto 56px auto;
    position: relative;
    border:4px dotted rgb(206, 245, 212);
    border-radius: 10px;
}

.chat-input{
    width: calc(100% - 160px);
    height: 100%;
    padding: 0 80px;
    border: none;
    /* line-height: 100%; */
}

.chat-input-smile{
    position: absolute;
    left:20px;
    top:3px;
}